---
---

$neu: #cc0000;

@font-face {
    font-family: newFont;
    src: url(sansation_light.woff);
}

body {
  width:100%;
  height:100%;
  margin:0;
  background-color: #5d5d5d;
}
h1 {
  font-family: "HelveticaNeue-CondensedBold";
  font-weight: 500;
  margin:0;
  color:slategrey;
}
.sub-header {
  font-family: "HelveticaNeue-CondensedBold";
  font-weight: 200;
  color: lightgrey;
  font-size: 13px;
  width: 233px;
  margin-left: 16px;
  border-right: 1px solid darkgrey;
}
.range{
  width:300px;
  margin-left: 804px;
  margin-top: -30px;
  height: 30px;
  border-left: 1px solid darkgrey;
}

.info {
    margin: 35px 20px;
    font-family: "HelveticaNeue-CondensedBold";
    color: grey;
    width: 66%;
    font-size: 15px;
    span {
      font-style: italic;
    }
}

a {
  color:darkblue;
  text-decoration: none;
}
.little-dot {
  color: rgba(255, 255, 255, 0.5);
}
.kandinsky {
  height:510px;
  width:1296px;
}
.inner-circle {
  left: 313px;
  top: 757px;
  transform: rotate(-16deg);
  position:absolute;
}

.map-background {
  height:100%;
  width:100%;
  background-color: #5d5d5d;
  padding-bottom: 20px;
}

.sidebar {
    position: fixed;
    right: 2%;
    top: 60px;
    width: 200px;
    height: 400px;
    background-color:#2b2d2d;
    border-radius:5px;
}

label {
  width:200px;
}
input {
  width:200px;
  margin-left:35px;
}
svg {
  margin-top:47px;
}
.year {
  color:#ffffff;
  position:absolute;
  top:17px;
  font-family:"HelveticaNeue-CondensedBold";
  font-size:14px;
  width:20px;
}
.year-label {
  font-family:"HelveticaNeue-CondensedBold";
  color:#ffffff;
  font-size:14px;
}
header {
  padding-top:6px;
  font-family: "HelveticaNeue-CondensedBold";
  font-size:18px;
  color: #ffffff;
  position:absolute;
  left:15px;
}

.country-info {

  p {
    padding-left:8%;
    padding-right:8%;
    font-family: "HelveticaNeue-CondensedBold";
    font-size:16px;
    margin-top: 19px;
    margin-left: 0;
    margin-bottom: 0px;
    color:#ffffff;
  }
  #click {
    padding-left:8%;
    padding-right:8%;
    font-family: "HelveticaNeue-CondensedBold";
    font-size:16px;
    margin-top: 19px;
    margin-left: 0;
    margin-bottom: 0px;
    color:#ffffff;
  }
  #title, #title1, #title2 {
    display:none;
  }
}
.top-bar {
  width:100%;
  height:50px;
  background-color:#2b2d2d;
  position:fixed;
  .gradient {
    width:200px;
    height:20px;
    background: -webkit-linear-gradient(right, #00ff00, #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #00ff00, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #00ff00, #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #00ff00, #000000); /* Standard syntax */
    margin-top: -19px;
    margin-left: 88px;
  }
  .inner-bar{
    margin-left: 249px;
    margin-top: 9px;
    border-left: 1px solid darkgrey;
    height: 31px;
  }
}
#minimum {
  font-family: "HelveticaNeue-CondensedBold";
  color: lightgrey;
  font-size: 14px;
  padding: 8px 0px 0px 19px;
}
#maximum {
  font-family: "HelveticaNeue-CondensedBold";
  color: lightgrey;
  font-size: 14px;
  padding: 8px 0px 0px 19px;
  margin-left: 281px;
  margin-top: -24px;
  width:200px;
}
input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 6px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 2px;
}
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 6px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 2px;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  height: 16px;
  width: 6px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
