---
---

$neu: #cc0000;

body {
  width:100%;
  height:100%;
  margin:0;
}

.header {
  margin:20px;
  margin-bottom:0;
}
h1 {
  font-family: "Arial";
  font-weight: 500;
  margin:0;
  color:slategrey;
}
.sub-header {
  font-family: "Arial";
  font-weight: 200;
  margin:5px 20px;
  color: grey;
  border-bottom:1px solid lightsteelblue;
  padding-bottom:5px;
}

.info {
    margin: 35px 20px;
    font-family: "arial";
    color: grey;
    width: 66%;
    font-size: 15px;
    span {
      font-style: italic;
    }
}

a {
  color:darkblue;
  text-decoration: none;
}
.little-dot {
  color: rgba(255, 255, 255, 0.5);
}
.kandinsky {
  height:510px;
  width:1296px;
}
.inner-circle {
  left: 313px;
  top: 757px;
  transform: rotate(-16deg);
  position:absolute;
}

.map-background {
  height:100%;
  width:100%;
  background-color: #5d5d5d;
  padding-bottom: 20px;
}
